/* Examination number */

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 85%;
  background-color: #4766b8;
  margin: 0;
  padding: 0;
}

#page {
  width: 710px;
  background-color: white;
  margin: 10px auto;
  border: 2px solid black;
  padding: 10px;
}

#banner {
  margin-bottom: 1em;
  height: 85px;
  width: 300px;
}

#navigation {
  margin-top: 1em;
  height: 56px;
  width: 560px;
  background-color: white;
}

#sidebar {
  width: 150px;
  height: 350px;
  background-color: white;
  margin-bottom: 0.7em;
  float: left;
}

.copyright {
  font-size: 90%;
  text-align: right;
  margin: 0;
}

/* the styles for the table*/

.caption {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 150%;
  color: #4766b8;
}

td,
th {
  border: 1px solid black;
  padding: 0.2em 0.7em;
  font-size: 95%;
}

.alignRight {
  text-align: right;
}
#f_quantity {
  width: 50px;
}
#m_quantity {
  width: 50px;
}
.b_calc_price {
  background-color: silver;
  color: black;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  transition-duration: 0.4s;
  border: 1px solid black;
  border-radius: 4px;
}

.b_calc_price:hover {
  background-color: wheat;
  color: black;
}
/*@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85%;
    margin: 0;
    padding: 0;
  }
  .page {
    position: absolute;
  }
}*/
